@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  border-radius: 15px;
  max-width: 1200px;
  display: block;
  margin: 50px auto;
}

.Container {
  background-color: var(--third-color);
  padding: 20px 30px 30px 30px;
  border-radius: 15px;
  position: relative;
  background-color: var(--third-color);
}

.FooterContainer {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
