.ForecastContainer {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  border-top: 5px dashed var(--fifth-color);
  border-radius: 10px;
  padding-top: 25px;
}

.card {
  text-align: center;
  border-radius: 15px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--fourth-color);
  color: var(--first-color);
}

.card h5 {
  margin-bottom: 20px;
  font-weight: bold;
  border-radius: 15px;
  padding: 5px 0;
  background-color: var(--third-color);
}

.Forecast canvas {
  color: var(--first-color);
  border-radius: 50%;
  padding: 10px;
  background-color: var(--fifth-color);
  border: 5px solid var(--second-color);
}

.card-text {
  margin-top: 20px;
  font-size: 20px;
}

.forecast-max-temp,
.temp-unit-max {
  font-weight: bold;
}

.forecast-min-temp,
.temp-unit-min {
  opacity: 0.8;
}
