.Form {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.btn-primary {
  margin: 5px 10px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  color: var(--first-color);
  border: 3px solid var(--second-color);
  box-shadow: 5px 5px var(--first-color);
  background-color: var(--fifth-color);
  transition: all 200ms ease;
}

.btn-primary:hover {
  background-color: var(--fourth-color);
  border: 3px solid var(--first-color);
  color: var(--first-color);
}

#inputCity {
  font-weight: bold;
  max-width: 450px;
  background-color: var(--fifth-color);
  color: var(--first-color);
  border: 3px solid var(--second-color);
  box-shadow: 5px 5px var(--first-color);
}

#inputCity::placeholder {
  color: var(--first-color);
}

.form-control {
  margin: 5px 10px;
  margin-right: 20px;
  padding: 8px;
  border-radius: 50px;
}
