@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --first-color: #015c92;
  --second-color: #2d82b5;
  --third-color: #53a6d8;
  --fourth-color: #88cdf6;
  --fifth-color: #bce6ff;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--first-color);
  background-color: var(--fifth-color);
  background-image: radial-gradient(var(--first-color) 1.6px, transparent 1.6px),
    radial-gradient(var(--first-color) 1.6px, var(--fifth-color) 1.6px);
  background-size: 64px 64px;
  background-position: 0 0, 32px 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container {
  margin-top: 75px;
  padding: 20px 30px;
  border-radius: 15px;
  position: relative;
  max-width: 1140px;
  background-color: var(--third-color);
}

.Forecast {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
}

.FooterButtons {
  display: grid;
  grid-template-columns: 3fr 3fr;
}
