.MidBody {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 35px 0 25px 0;
}

.citiesRecentPopular {
  margin-top: 10px;
  margin-left: 10px;
}
.RecentCities,
.PopularCities {
  padding: 10px 10px 10px 24px;
  border-radius: 50px;
  background-color: var(--fifth-color);
  max-height: 100%;
  margin: 10px 10px 0 10px;
  line-height: 30px;
}
.RecentPopularBody {
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.Form {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin-bottom: 10px;
}

.btn-primary {
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  color: var(--first-color);
  border: 3px solid var(--second-color);
  box-shadow: 5px 5px var(--first-color);
  background-color: var(--fifth-color);
  transition: all 200ms ease;
  width: 150px;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: var(--fourth-color);
  border: 3px solid var(--first-color);
  color: var(--first-color);
}

.form-control {
  font-weight: bold;
  margin: 0 10px;
  padding: 8px;
  border-radius: 50px;
  max-width: 500px;
  border: 3px solid var(--second-color);
  color: var(--first-color);
  border: 3px solid var(--second-color);
  box-shadow: 5px 5px var(--first-color);
}

.form-control::placeholder {
  color: var(--first-color);
}

.PopularCities a,
.RecentCities a {
  color: var(--first-color);
}

.PopularCities a:hover,
.RecentCities a:hover {
  color: var(--third-color);
}
