.MidBody {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 35px 0;
}

.citiesRecentPopular {
  margin-top: 10px;
  margin-left: 10px;
}
.RecentCities,
.PopularCities {
  padding: 10px 10px 10px 24px;
  border-radius: 50px;
  background-color: var(--fifth-color);
  max-height: 100%;
  margin: 10px 10px 0 10px;
  line-height: 30px;
}
.RecentPopularBody {
  display: grid;
  grid-template-columns: 6fr 6fr;
}
