:root {
  /* Rain */
  --first-color-rain: #015c92;
  --second-color-rain: #2d82b5;
  --third-color-rain: #53a6d8;
  --fourth-color-rain: #88cdf6;
  --fifth-color-rain: #bce6ff;

  /* Sun */
  --first-color-sun: #c73866;
  --second-color-sun: #fe676e;
  --third-color-sun: #fd8f52;
  --fourth-color-sun: #ffbd71;
  --fifth-color-sun: #ffdca2;

  /* Cloudy */
  --first-color-cloudy: #4a707a;
  --second-color-cloudy: #7697a0;
  --third-color-cloudy: #94b0b7;
  --fourth-color-cloudy: #c2c8c5;
  --fifth-color-cloudy: #ddddda;

  /* Snow */
  --first-color-snow: #9b9b9b;
  --second-color-snow: #b6b6b6;
  --third-color-snow: #d1d1d1;
  --fourth-color-snow: #e7e7e7;
  --fifth-color-snow: #ffffff;
}

:root [color-scheme="rain"] {
  --first-color: var(--first-color-rain);
  --second-color: var(--second-color-rain);
  --third-color: var(--third-color-rain);
  --fourth-color: var(--fourth-color-rain);
  --fifth-color: var(--fifth-color-rain);
  color-scheme: rain;
}
:root [color-scheme="sun"] {
  --first-color: var(--first-color-sun);
  --second-color: var(--second-color-sun);
  --third-color: var(--third-color-sun);
  --fourth-color: var(--fourth-color-sun);
  --fifth-color: var(--fifth-color-sun);
  color-scheme: sun;
}
:root [color-scheme="cloudy"] {
  --first-color: var(--first-color-cloudy);
  --second-color: var(--second-color-cloudy);
  --third-color: var(--third-color-cloudy);
  --fourth-color: var(--fourth-color-cloudy);
  --fifth-color: var(--fifth-color-cloudy);
  color-scheme: cloudy;
}
:root [color-scheme="snow"] {
  --first-color: var(--first-color-snow);
  --second-color: var(--second-color-snow);
  --third-color: var(--third-color-snow);
  --fourth-color: var(--fourth-color-snow);
  --fifth-color: var(--fifth-color-snow);
  color-scheme: snow;
}
